body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input {
    width: calc(50% - 5px);
    padding: 10px;
    margin-bottom: 10px;
}

.operators button {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 18px;
}

#resultado {
    font-size: 24px;
    margin-top: 10px;
}
